.nav_inlink{
   color: rgb(2, 2, 2); 
   padding-right: 100px;
}
.card a{
    color: black;
}

nav{
background-color: rgba(0, 0, 0, 0.729);

}

.sign_canvas{
    border:1px solid #000000;
    border-radius: 5px;
    width:100%;
    height:50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }

.side{

position: fixed;
top: 60px;



}
.links{

    margin-right: 50px;

}

.bg-blue{

    background-color: rgb(2, 5, 48)
}

.my_body{
    margin-top: 45px;
    bottom: 0;

        
}

td :hover{
    background-color: inherit;
        border: 1px inherit;
        -webkit-animation: mymove 1s ; /* Chrome, Safari, Opera */
        animation: mymove 1s ;
}

.anim{
    background-color: inherit;
        border: 1px inherit;
        -webkit-animation: mymove 1s ; /* Chrome, Safari, Opera */
        animation: mymove 1s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {padding: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {padding: 50px;}
}


