body{
    background-image: url("acn.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;

    /* background-color: rgba(0,0,0, 0.4); */
}


.thin_borders{
border: 2px;
/* border-block-color: grey; */
border-right-color: black;

}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgba(0,0,0, 0.8);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    /* margin-left: 10%; */
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: black;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background-color: rgba(0,0,0, 0.4);
  }














  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }